
<form >
Task: <input type="text" name= "toDo" id= "toDo" [formControl]="toDo" />
Task details: <textarea name= "toDoDetail" id= "toDoDetail" [formControl]="toDoDetail"></textarea>
<input type="button" value="save" (click)="saveTask()"/>  
</form>
<div>
    <ul>
        <li *ngFor="let t of tasks" (click)="showTask(t)">            
            <span>{{t.id}}</span><br/>
            <input value={{t.toDo}} /> <br/>
            <textarea>{{t.toDoDetails}}</textarea> <br/>
            <button (click)="updateTask(t.id, t.toDo, t.toDoDetails)">update</button> <br/>
            <button (click)="deleteTask(t.id)">delete</button> <br/>
        </li>
    </ul>
    <span> {{detailsSection}} </span>

</div>
<router-outlet></router-outlet>
